[Unit]
Description=Run chrony telemetry collection every 15 minutes

[Timer]
OnBootSec=120s
OnUnitActiveSec=15min
Unit=chrony-tracking.service

[Install]
WantedBy=multi-user.target

