[Unit]
Description=Run chrony telemetry collection every 15 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
Unit=chrony-tracking.service

[Install]
WantedBy=timers.target

