[Unit]
Description=Connectivity D-Bus Service

[Service]
Type=dbus
BusName=com.example.ConnectivityNotify
ExecStart=/bin/sh -c '[ -f /lib/rdk/logMilestone.sh ] && /bin/sh /lib/rdk/logMilestone.sh "INTERNET_FULLY_CONNECTED"'

[Install]
WantedBy=multi-user.target
