[Unit]
Description=My D-Bus Service
After=ntp-sync-complete.target
Requires=ntp-sync-complete.target

[Service]
Type=simple
ExecStart=/bin/sh -c 'touch /tmp/dbus_satya_service'

[Install]                                          
WantedBy=ntp-sync-complete.target
